*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules/
oclif.manifest.json
/dist
node_modules
.history/
microservices
log
.nyc_output
test/test-report
coverage
.DS_Store
src/.DS_Store
src/commands/.DS_Store
metabasecli_cfg.json